In [ ]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Evan"],
    "Age": [19, 22, 21, 20, 23],
    "Score": [78, 85, 92, 88, 75]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0    Alice   19     78
1      Bob   22     85
2  Charlie   21     92
3    Diana   20     88
4     Evan   23     75

In [ ]:

import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Evan"],
    "Age": [19, 22, 21, 20, 23],
    "Score": [78, 85, 92, 88, 75]
}

df = pd.DataFrame(data)
print(df)

print(df.head(3))

print(df.describe())


average_score = df["Score"].mean()
print("Average score:", average_score)

      Name  Age  Score
0    Alice   19     78
1      Bob   22     85
2  Charlie   21     92
3    Diana   20     88
4     Evan   23     75
      Name  Age  Score
0    Alice   19     78
1      Bob   22     85
2  Charlie   21     92
             Age      Score
count   5.000000   5.000000
mean   21.000000  83.600000
std     1.581139   7.021396
min    19.000000  75.000000
25%    20.000000  78.000000
50%    21.000000  85.000000
75%    22.000000  88.000000
max    23.000000  92.000000
Average score: 83.6

In [ ]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Evan"],
    "Age": [19, 22, 21, 20, 23],
    "Score": [78, 85, 92, 88, 75]
}

df = pd.DataFrame(data)
print(df)

# Students older than 20
older_than_20 = df[df["Age"] > 20]
print("Students older than 20:")
print(older_than_20)

# Students with score above 80
score_above_80 = df[df["Score"] > 80]
print("Students with score above 80:")
print(score_above_80)

      Name  Age  Score
0    Alice   19     78
1      Bob   22     85
2  Charlie   21     92
3    Diana   20     88
4     Evan   23     75
Students older than 20:
      Name  Age  Score
1      Bob   22     85
2  Charlie   21     92
4     Evan   23     75
Students with score above 80:
      Name  Age  Score
1      Bob   22     85
2  Charlie   21     92
3    Diana   20     88